[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
discord-py = "*"
python-dotenv = "*"
firebase-admin = "*"
google-cloud-firestore = "*"
pydictionary = "*"
udpy = "*"
emoji = "*"
simpleeval = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
